Source: ros-hydro-hrpsys-gazebo-general
Section: misc
Priority: extra
Maintainer: Yohei Kakiuchi <youhei@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-collada-urdf-jsk-patch, ros-hydro-gazebo-ros, ros-hydro-hrpsys-gazebo-msgs, ros-hydro-hrpsys-ros-bridge
Homepage: http://ros.org/wiki/hrpsys_gazebo_general
Standards-Version: 3.9.2

Package: ros-hydro-hrpsys-gazebo-general
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-collada-urdf-jsk-patch, ros-hydro-gazebo-ros, ros-hydro-hrpsys-gazebo-msgs, ros-hydro-hrpsys-ros-bridge, ros-hydro-xacro
Description: hrpsys_gazebo_general
